.header__lang-link {
    font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: right;
    min-width: 30px;
    text-decoration: none;
    color: #fff;
    align-self: end;
    transition: opacity .5s linear;
}

.header__lang-link:hover {
    opacity: .8;
}

@media all and (max-width: 730px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
        min-width: 22px;
    }
}