.cover__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: auto;
    width: 100%;
    min-height: 740px;
    background-image: url(../../../images/cover__images/__background.jpg);
    background-size: cover;
    background-position: center;
}

.cover__link::before {
    position: absolute;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    content: "";
    opacity: .3;
    background-color: #2A2C2F;
    transition: opacity .5s ease-in;
}

.cover__link:hover::before {
    opacity: .8;
}

@media all and (max-width: 1250px) {
    .cover__link {
        min-height: 640px;
    }
}

@media all and (max-width: 1000px) {
    .cover__link {
        min-height: 480px;
    }
}

@media all and (max-width: 740px) {
    .cover__link {
        min-height: 200px;
    }
}