.photo-grid {
    margin: 92px auto 0;
    width: 1184px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 284px);
    gap: 16px;
    justify-items: center;
}

@media all and (max-width: 1250px) {
    .photo-grid {
        width: 928px;
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 14px;
    }
}

@media all and (max-width: 1000px) {
    .photo-grid {
        margin: 88px auto 0;
        width: 720px;
        grid-template-columns: repeat(auto-fit, 352px);
        gap: 16px;
    }
}

@media all and (max-width: 740px) {
    .photo-grid {
        margin: 64px auto 0;
        width: 288px;
        grid-template-columns: repeat(auto-fit, 288px);
        gap: 12px;
    }
}