.places {
    max-width: 984px;
    margin: 92px auto 0;
}

@media all and (max-width: 1250px) {
    .places {
        max-width: 928px;
    }
}

@media all and (max-width: 1000px) {
    .places {
        max-width: 720px;
        margin: 88px auto 0;
    }
}

@media all and (max-width: 740px) {
    .places {
        max-width: 320px;
        margin: 64px auto 0;
    }
}