.place__image {
    max-width: 100%;
}

@media all and (max-width: 1200px) {
    .place__image {
        max-width: 100%;
    }
}

@media all and (max-width: 1000px) {
    .place__image {
        max-width: 100%;
    }
}

@media all and (max-width: 730px) {
    .place__image {
        max-width: 100%;
    }
}