.photo-grid__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    gap: 16px;
    justify-items: center;
    }
 
@media all and (max-width: 1200px) {
    .photo-grid__container {
        grid-template-columns: repeat(auto-fill, minmax(1fr, 300px));
        gap: 14px;
        justify-items: center;
    }
}

@media all and (max-width: 900px) {
    .photo-grid__container {
        grid-template-columns: repeat(auto-fill, minmax(1fr, 352px));
        gap: 16px;
        justify-items: center;
    }
}

@media all and (max-width: 600px) {
    .photo-grid__container {
        grid-template-rows: repeat(auto-fill, minmax(1fr, 288px));
        gap: 12px;
        justify-items: center;
    }
}