.lead {
    width: 984px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media all and (max-width: 1200px) {
    .lead {
        width: 928px;
    }
}

@media all and (max-width: 900px) {
    .lead {
        width: 768px;
    }
}

@media all and (max-width: 600px) {
    .lead {
        width: 320px;
    }
}