.cover__subtitle {
    margin: 32px auto 0;
    width: 360px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    z-index: 2;
}

@media all and (max-width: 600px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 288px;
    }
}