.header__logo {
    width: 176px;
    height: 52px;
    position: absolute;
    left: 0;
    margin: 0;
}

@media all and (max-width: 600px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}