.header__logo {
    max-width: 176px;
    min-height: 52px;
    position: absolute;
    left: 0;
    margin: 0;
}

@media all and (max-width: 600px) {
    .header__logo {
        max-width: 142px;
        min-height: 42px;
    }
}