.header {
    max-width: 1184px;
    margin: 0 auto;
    padding-top: 28px;
    min-height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media all and (max-width: 1200px) {
    .header {
        max-width: 928px;
    }
}

@media all and (max-width: 1000px) {
    .header {
        max-width: 720px;
    }
}

@media all and (max-width: 730px) {
    .header {
        max-width: 288px;
        min-height: 42px;
        padding-top: 16px;
    }
}
