.lead__title {
    max-width: 720px;
    margin: 56px auto 0;
    color: #fff;
    font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
}

@media all and (max-width: 1200px) { 
    .lead__title{
        margin: 48px 0 0 0;
    }
}

/* @media all and (max-width: 650px) {
    .lead__title {
        font-size: 76px;
        line-height: 80px;
    }
} */

@media all and (max-width: 730px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}