.intro__list-text {
    margin: 0;
    color: #fff;
    font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

