.lead__subtitle {
    width: 640px;
    margin: 32px auto 0;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}

@media all and (max-width: 600px) {
    .lead__subtitle {
        width: 288px;
        margin: 16px auto 0;
        font-size: 16px;
        line-height: 20px;
    }
}