.cover {
    margin: 92px auto 0;
    max-width: 1184px;
    position: relative;
}

@media all and (max-width: 1250px) {
    .cover {
        width: 100%;
    }
}

@media all and (max-width: 1000px) {
    .cover {
        margin: 90px auto 0;
    }
}

@media all and (max-width: 740px) {
    .cover {
        margin: 66px auto 0;
        max-width: 320px;
    }
}