.header__container {
    max-width: 1184px;
    margin: 0 auto;
    min-height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


@media all and (max-width: 1200px) {
    .header__container {
        max-width: 928px;
    }
}

@media all and (max-width: 900px) {
    .header__container {
        max-width: 720px;
    }
}

@media all and (max-width: 600px) {
    .header__container {
        max-width: 288px;
        min-height: 42px;
    }
}

