.place {
    margin-bottom: 80px;
    min-width: 100%;
    display: grid;
    row-gap: 48px;
    column-gap: 40px;
    grid-template-columns: 460px 484px;
}

@media all and (max-width: 1200px) {
    .place {
        column-gap: 32px;
        grid-template-columns: 440px 456px;
    }
}

@media all and (max-width: 1000px) {
    .place {
        margin-bottom: 73px;
        column-gap: 28px;
        grid-template-columns: 340px 352px;
    }
}

@media all and (max-width: 730px) {
    .place {
        margin-bottom: 73px;
        row-gap: 32px;
        grid-template-columns: auto;
    }
}