.intro__title {
    width: 690px;
    height: 58px;
    margin: 0;
    color: #fff;
    font-family: Inter;
    font-size: 54px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;

}